<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>
      Введите данные для добавленя вкладчика
    </h3>
  </div>
</div>

<form method="post">
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <label>Имя
        <input type="text" placeholder="Название" name="name" required>
      </label>
    </div>
  <div class="grid-x grid-padding-x">
    <div class="lagre-12 cell">
      <input type="submit" value="Добавить" class="button success">
    </div>
  </div>
</form>
